In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [9]:
df = pd.read_csv('golf_df.csv')

In [10]:
df.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [11]:
# Converting into categorical form
# One can use hot-encoding i.e pd.get_dummies . LabelEncoder.fit_transform, 
df = df.apply(lambda x: x.astype('category'))

In [12]:
df1 = df.apply(lambda x : x.cat.codes)

In [13]:
df1.head()

   Outlook  Temperature  Humidity  Windy  Play
0        2            1         0      0     0
1        2            1         0      1     0
2        0            1         0      0     1
3        1            2         0      0     1
4        1            0         1      0     1

In [14]:
#Splitting the data into train and test
train = df1[:10]
test = df1[-4:]

In [15]:
y_train = train.pop('Play')
x_train = train

y_test = test.pop('Play')
x_test = test

In [20]:
#Initialize the model
model = MultinomialNB()

#Then fit the model.
model_obj = model.fit(x_train, y_train)

In [21]:
y_out = model.predict(x_test)

In [22]:
y_out

array([1, 1, 1, 0], dtype=int8)

In [23]:
print('Training Accuracy: ', model.score(x_train,y_train))
print('Testing Accuracy: ', model.score(x_test,y_test))

Training Accuracy:  0.9
Testing Accuracy:  1.0